@import url("https://fonts.googleapis.com/css?family=Roboto");

$roboto-slab: 'Roboto Slab', sans-serif;   

* {
  text-align: center;
  font-family: $roboto-slab;
}

body {
  background-color: #efefef;
}

input {
  font-size: 14px;
  padding: 1em 1.5em;
  border: solid 1px black;
}

button {
  font-size: 20px;
  padding: 0.5em 1em;
  background-color: cornflowerblue;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}