* {
  text-align: center;
}

input {
  font-size: 14px;
  padding: 1em 1.5em;
}

button {
  font-size: 20px;
  padding: 0.5em 1em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}